
// Custom Theming for Angular Material
@use '@angular/material' as mat;

@include mat.core();

// Church ELIM blue-based palette
$elim-admin-primary: mat.define-palette(mat.$blue-palette, 800, 600, 900);
$elim-admin-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$elim-admin-warn: mat.define-palette(mat.$red-palette);

$elim-admin-theme: mat.define-light-theme((
  color: (
    primary: $elim-admin-primary,
    accent: $elim-admin-accent,
    warn: $elim-admin-warn,
  ),
  typography: mat.define-typography-config(
    $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  ),
  density: -1
));

@include mat.all-component-themes($elim-admin-theme);

